.section-1 {
  height: 100vh;
}

.section-2 {
  height: 100vh;
}

.box-card {
  display: none
}

.show {
  display: block;
}


li { 
  display: table-cell; 
  position: relative; 
  padding: 8px 0;
}
a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.navbar-nav .nav-item .nav-link{
  padding-left: 0;
  padding-right: 40px;
}

.nav-link {
  font-size: 30px;
  color: #fff;
}

.nav-link:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  /* position: absolute; */
  background: #ffc107;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.nav-link:hover {
  color: #28a745
}

.nav-link:hover:after { 
  width: 100%; 
  left: 0; 
}
@media screen and (max-height: 300px) {
	ul {
		margin-top: 40px;
	}
}



.daniel-intro {
  font-size: 60px;
  left: 150px;
}

.daniel-portrait {
  bottom: 50px;
  right: 50px;
}

.scroll-more {
  font-size: 12px;
  width: 100px;
}

.icon-scroll {
	position: absolute;
	top: 50%;
	left: 50%;
  	width: 1em;
	height: 3.125em;
	transform: translateX(-50%) scale(2);
	z-index: 99999;
}

.icon-arrows::after,
.icon-arrows::before {
  content: '';
}
.icon-arrows span,
.icon-arrows::after,
.icon-arrows::before {
	display: block;
	width: 0.315em;
	height: 0.315em;
	border-right: 1px solid rgba(255,255,255,.8);
	border-bottom: 1px solid rgba(255,255,255,.8);
	margin: 0 0 0.125em 0.315em;
	transform: rotate(45deg);
  animation: mouse-scroll 1s infinite;
	animation-direction: alternate;
}

.icon-arrows::before {
	margin-top: 0.315em;
	animation-delay: .1s;
}

.icon-scroll span {
	animation-delay: .2s;
}

.icon-arrows::after {
	animation-delay: .3s;
}

.icon-scroll .mouse {
	height: 1.375em;
	width: .875em;
	border: 1px solid rgba(255,255,255,.8);
	border-radius: 2em;
}

.icon-scroll .wheel {
  position: relative;
  display: block;
  height: 0.1875em;
  width: 0.1875em;
  margin: 0.1875em auto 0;
  background: rgba(255,255,255,.8);
  animation: mouse-wheel 1.2s ease infinite;
  border-radius: 50%;
}

@keyframes mouse-wheel {
	0% {
		opacity: 1;
		transform: translateY(0);
	}

	100% {
		opacity: 0;
		transform: translateY(.375em);
	}
}

@keyframes mouse-scroll {
	0%   { opacity: 0; }
	50%  { opacity: .5; }
	100% { opacity: 1; }
}

.resume-button{
  border-color: green;
}

.resume-button:hover {
  border-color: green;
}

.seperator {
	border-top: 1px solid grey;
}

.skills-div {
  height: 120px;
  box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.15);
}

.logo {
  width: 60px;
  height: 60px;
}

.lost-knight,
.steam-waiter {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
  width: 350px;
  border: 3px solid white;
  border-radius: 8px;
  background-color: white;
  height: 600px;
}

.lost-knight-pic,
.steam-waiter-pic {
  height: 200px;
  overflow: hidden;
}

.lost-knight-pic img,
.steam-waiter-pic img{
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.languages {
  border-radius: 6px;
}

.info,
.waiter-info {
  height: 165px;
}

.waiter-info {
  overflow-y: auto;
  scrollbar-width: thin;
}

.waiter-info::-webkit-scrollbar {
  width: 10px;
}

.waiter-info::-webkit-scrollbar-track {
  border-radius: 5px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
}

.watier-info::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #255a50;
}

linkedin-link:hover {
  text-decoration: none;
}

